.btn {
    padding: 0.5em;
    text-align: center;
    border: none;
    text-decoration: none;
    outline: none;
    background-color: /*#564256*/ #283044;
    color: white;
    width: 7em;
    font-size: 1em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.btn:hover {
    filter: brightness(0.80); /* Darker button color on hover */
    cursor: pointer;
}

.btn-container {
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
}
