input {
    height: 3em;
    margin-bottom: 1em;
    box-sizing: border-box;
    /* Inherit font style from body */
    font-family: inherit;
    font-size: inherit;
}

textarea {
    margin: 1em 0;
    height: 10em; /* Initial height */
    width: 40em; /* Initial width */
    max-width: 90%;
    max-height: 50%;
    /* Inherit font style from body */
    font-family: inherit;
    font-size: inherit;
}