nav {
    background-color: #283044;
    border-bottom: 1px solid #242424;
}

nav img {
    padding: 0;
}

.nav-list {
    list-style-type: none; /* Remove bullets */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex;
    align-items: center;
}

.nav-item-right {
    margin-left: auto;
    margin-right: 0.75em;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 0.75em;
}

nav h1 {
    color: #FFFFFF;
    margin: 0 0;
}

.styled-link {
    color: white;
    text-decoration: none;
}

.styled-link:hover {
    filter: brightness(0.80);
}

.active {
    color: #FFEEA3;
}



